node_modules
public/image
public/images
public/Music
public/Music1
public/images8
.env
.prettierrc
.vscode
html_template
myModules
routes
webfonts
fonts
json
database.mjs
keyGen.mjs
mmmmain.mjs
now_playing_list.html
replacetemp.js
utils.mjs