.playlist-div-container {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1.5em;
  row-gap: 1em;
  column-gap: 1em;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
button.first {
  display: flex;
  padding: 0px;
  text-align: start;
  align-items: start;
  border-radius: 3px;
  color: rgb(33, 33, 36);
  font-size: 1rem;
  border: none;
  background-color: rgba(4, 100, 203, 0.593);
  width: 15%;
  min-width: max(5%, 130px);
  min-height: min(60%, 40px);
  height: 90px;
  max-height: 90px;
}
button.first:hover {
  cursor: pointer;
  background-color: rgb(33, 33, 36);
  color: rgb(240, 119, 6);
  border: 2px solid rgb(240, 119, 6);
}
button.first:active {
  background-color: rgb(240, 119, 6);
}
button.first > img {
  vertical-align: middle;
  margin-right: 5px;
  height: 100%;
  width: 40%;
  max-width: 41%;
  min-width: 30%;
}
